In [1]:
import pandas as pd

In [2]:
state_prefixes = [
    ("Alabama", "205"),
    ("Alaska", "907"),
    ("Arizona", "480"),
    ("Arkansas", "479"),
    ("California", "209"),
    ("Colorado", "303"),
    ("Connecticut", "203"),
    ("Delaware", "302"),
    ("District of Columbia", "202"),
    ("Florida", "239")
]
phone_numbers = [
    "205-187-3946", "205-255-6983", "479-172-2272", "239-911-4469", 
    "205-938-8632", "480-364-9536", "205-662-8389", "479-742-6763", 
    "479-896-3819", "480-468-6769", "907-314-9167", "205-374-9162", 
    "479-142-6152", "907-146-9975", "479-117-4115", "907-683-7493", 
    "239-499-7963", "239-486-9335", "480-132-7865", "907-316-9144", 
    "205-187-3946", "205-255-6983", "205-938-8632", "205-662-8389", 
    "205-374-9162", "907-314-9167", "907-146-9975", "907-683-7493", 
    "907-316-9144", "480-364-9536", "480-468-6769", "480-132-7865", 
    "479-172-2272", "479-742-6763", "479-896-3819", "479-142-6152", 
    "479-117-4115", "239-911-4469", "239-499-7963", "239-486-9335"
]

In [4]:
state_df = pd.DataFrame(state_prefixes, columns=["State", "Prefix"])
state_df

                  State Prefix
0               Alabama    205
1                Alaska    907
2               Arizona    480
3              Arkansas    479
4            California    209
5              Colorado    303
6           Connecticut    203
7              Delaware    302
8  District of Columbia    202
9               Florida    239

In [5]:
phone_df = pd.DataFrame(phone_numbers, columns=["PhoneNumber"])
phone_df

     PhoneNumber
0   205-187-3946
1   205-255-6983
2   479-172-2272
3   239-911-4469
4   205-938-8632
5   480-364-9536
6   205-662-8389
7   479-742-6763
8   479-896-3819
9   480-468-6769
10  907-314-9167
11  205-374-9162
12  479-142-6152
13  907-146-9975
14  479-117-4115
15  907-683-7493
16  239-499-7963
17  239-486-9335
18  480-132-7865
19  907-316-9144
20  205-187-3946
21  205-255-6983
22  205-938-8632
23  205-662-8389
24  205-374-9162
25  907-314-9167
26  907-146-9975
27  907-683-7493
28  907-316-9144
29  480-364-9536
30  480-468-6769
31  480-132-7865
32  479-172-2272
33  479-742-6763
34  479-896-3819
35  479-142-6152
36  479-117-4115
37  239-911-4469
38  239-499-7963
39  239-486-9335

In [7]:
phone_df['Prefix'] = phone_df['PhoneNumber'].str.split('-').str[0]
phone_df

     PhoneNumber Prefix
0   205-187-3946    205
1   205-255-6983    205
2   479-172-2272    479
3   239-911-4469    239
4   205-938-8632    205
5   480-364-9536    480
6   205-662-8389    205
7   479-742-6763    479
8   479-896-3819    479
9   480-468-6769    480
10  907-314-9167    907
11  205-374-9162    205
12  479-142-6152    479
13  907-146-9975    907
14  479-117-4115    479
15  907-683-7493    907
16  239-499-7963    239
17  239-486-9335    239
18  480-132-7865    480
19  907-316-9144    907
20  205-187-3946    205
21  205-255-6983    205
22  205-938-8632    205
23  205-662-8389    205
24  205-374-9162    205
25  907-314-9167    907
26  907-146-9975    907
27  907-683-7493    907
28  907-316-9144    907
29  480-364-9536    480
30  480-468-6769    480
31  480-132-7865    480
32  479-172-2272    479
33  479-742-6763    479
34  479-896-3819    479
35  479-142-6152    479
36  479-117-4115    479
37  239-911-4469    239
38  239-499-7963    239
39  239-486-9335    239

In [8]:
merged_df = pd.merge(phone_df, state_df, how="left", on="Prefix")
merged_df

     PhoneNumber Prefix     State
0   205-187-3946    205   Alabama
1   205-255-6983    205   Alabama
2   479-172-2272    479  Arkansas
3   239-911-4469    239   Florida
4   205-938-8632    205   Alabama
5   480-364-9536    480   Arizona
6   205-662-8389    205   Alabama
7   479-742-6763    479  Arkansas
8   479-896-3819    479  Arkansas
9   480-468-6769    480   Arizona
10  907-314-9167    907    Alaska
11  205-374-9162    205   Alabama
12  479-142-6152    479  Arkansas
13  907-146-9975    907    Alaska
14  479-117-4115    479  Arkansas
15  907-683-7493    907    Alaska
16  239-499-7963    239   Florida
17  239-486-9335    239   Florida
18  480-132-7865    480   Arizona
19  907-316-9144    907    Alaska
20  205-187-3946    205   Alabama
21  205-255-6983    205   Alabama
22  205-938-8632    205   Alabama
23  205-662-8389    205   Alabama
24  205-374-9162    205   Alabama
25  907-314-9167    907    Alaska
26  907-146-9975    907    Alaska
27  907-683-7493    907    Alaska
28  907-316-9144    907    Alaska
29  480-364-9536    480   Arizona
30  480-468-6769    480   Arizona
31  480-132-7865    480   Arizona
32  479-172-2272    479  Arkansas
33  479-742-6763    479  Arkansas
34  479-896-3819    479  Arkansas
35  479-142-6152    479  Arkansas
36  479-117-4115    479  Arkansas
37  239-911-4469    239   Florida
38  239-499-7963    239   Florida
39  239-486-9335    239   Florida

In [9]:
sorted_df = merged_df.sort_values(by="State")
sorted_df

     PhoneNumber Prefix     State
0   205-187-3946    205   Alabama
1   205-255-6983    205   Alabama
4   205-938-8632    205   Alabama
6   205-662-8389    205   Alabama
24  205-374-9162    205   Alabama
23  205-662-8389    205   Alabama
22  205-938-8632    205   Alabama
11  205-374-9162    205   Alabama
21  205-255-6983    205   Alabama
20  205-187-3946    205   Alabama
28  907-316-9144    907    Alaska
27  907-683-7493    907    Alaska
26  907-146-9975    907    Alaska
25  907-314-9167    907    Alaska
15  907-683-7493    907    Alaska
19  907-316-9144    907    Alaska
13  907-146-9975    907    Alaska
10  907-314-9167    907    Alaska
18  480-132-7865    480   Arizona
31  480-132-7865    480   Arizona
9   480-468-6769    480   Arizona
30  480-468-6769    480   Arizona
29  480-364-9536    480   Arizona
5   480-364-9536    480   Arizona
7   479-742-6763    479  Arkansas
33  479-742-6763    479  Arkansas
32  479-172-2272    479  Arkansas
2   479-172-2272    479  Arkansas
35  479-142-6152    479  Arkansas
34  479-896-3819    479  Arkansas
8   479-896-3819    479  Arkansas
12  479-142-6152    479  Arkansas
36  479-117-4115    479  Arkansas
14  479-117-4115    479  Arkansas
37  239-911-4469    239   Florida
16  239-499-7963    239   Florida
3   239-911-4469    239   Florida
17  239-486-9335    239   Florida
38  239-499-7963    239   Florida
39  239-486-9335    239   Florida

In [11]:
sorted_phone_numbers = sorted_df['PhoneNumber'].tolist()
sorted_phone_numbers

['205-187-3946',
 '205-255-6983',
 '205-938-8632',
 '205-662-8389',
 '205-374-9162',
 '205-662-8389',
 '205-938-8632',
 '205-374-9162',
 '205-255-6983',
 '205-187-3946',
 '907-316-9144',
 '907-683-7493',
 '907-146-9975',
 '907-314-9167',
 '907-683-7493',
 '907-316-9144',
 '907-146-9975',
 '907-314-9167',
 '480-132-7865',
 '480-132-7865',
 '480-468-6769',
 '480-468-6769',
 '480-364-9536',
 '480-364-9536',
 '479-742-6763',
 '479-742-6763',
 '479-172-2272',
 '479-172-2272',
 '479-142-6152',
 '479-896-3819',
 '479-896-3819',
 '479-142-6152',
 '479-117-4115',
 '479-117-4115',
 '239-911-4469',
 '239-499-7963',
 '239-911-4469',
 '239-486-9335',
 '239-499-7963',
 '239-486-9335']

In [12]:
for number in sorted_phone_numbers:
    print(number)

205-187-3946
205-255-6983
205-938-8632
205-662-8389
205-374-9162
205-662-8389
205-938-8632
205-374-9162
205-255-6983
205-187-3946
907-316-9144
907-683-7493
907-146-9975
907-314-9167
907-683-7493
907-316-9144
907-146-9975
907-314-9167
480-132-7865
480-132-7865
480-468-6769
480-468-6769
480-364-9536
480-364-9536
479-742-6763
479-742-6763
479-172-2272
479-172-2272
479-142-6152
479-896-3819
479-896-3819
479-142-6152
479-117-4115
479-117-4115
239-911-4469
239-499-7963
239-911-4469
239-486-9335
239-499-7963
239-486-9335

In [14]:
import random
import string

In [15]:
def generate_random_string():
    chars = string.ascii_letters + string.digits 
    random_string = ''.join(random.choices(chars, k=20))
    return random_string

In [16]:
random_string = generate_random_string()
print(random_string)

CUn7seZQyI7Ez7vbLXko